*{
    color: rgb(175, 166, 166);
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(60,60,60);
    height: 100vh;
}
.container-clock{
    background-color: transparent;
    border: 3px solid lightgreen;
    width: 340px;
    padding: 20px;
    border-radius: 40px;
    transition: 0.5s;
}
.container-clock:hover{
    background-color: lightgreen;
    color: black;
    box-shadow: 0 0 30px lightgreen;
}
.time{
    font-size: 40px;
    font-weight: 600px;
    text-align: center;
}
.date{
    font-size: 20px;
    text-align: center;
    font-style: initial;
}
#period{
    font-size: 20px;
}
.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    height: 250px;
}
.jumbotron h1 {
    color: red;
    margin-top: 50px;
}
.jumbotron span{
    color: rgb(79, 212, 168);
    text-decoration: underline;
}
.box img{
    width: 100%;
    padding: 10px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-color: gray;
    margin: 30px 80px 30px 80px;
    border-radius: 20px;
}
.box a{
    text-decoration: none;
    color: maroon;
}
.button{
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}
.button:hover{
    background-color: indianred;
}
.button.active, .button.is-checked{
    background-color: green;
}
.grid img{
    width: 100%;
    height: 100%;
}
.items{
    width: 200px;
    height: 200px;
    margin: 5px;
    float: left;
}